apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rtrwnet-prod

resources:
  - ../../base
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - ingress.yaml

labels:
  - pairs:
      env: production
    includeSelectors: false

# Production-specific patches (contoh: lebih banyak replicas)
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: frontend-homepage
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: frontend-user
